workflow.json
{
  "name": "RAG Workflow For Company Documents stored in Google Drive",
  "nodes": [
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "mode": "list",
          "value": "mis-notes",
          "cachedResultName": "mis-notes"
        },
        "options": {}
      },
      "id": "b2cef4ac-c380-47e3-b378-9c45685cc0f8",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        528,
        160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest",
        "baseUrl": "http://localhost:11434"
      },
      "id": "10430e81-8032-4866-b89f-8f4fecec0528",
      "name": "Ollama Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "position": [
        496,
        448
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "dataType": "binary",
        "binaryMode": "specificField",
        "options": {}
      },
      "id": "80829278-e9ad-4100-967b-9018a62d302d",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        688,
        384
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkSize": 1000,
        "chunkOverlap": 200,
        "options": {}
      },
      "id": "595ec650-2887-4542-8a5c-e6fdca12051f",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        672,
        592
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Sen Yönetim Bilişim Sistemleri (MIS) alanında uzman akademik bir asistansın. Kullanıcının ders notlarını tarayarak sorulara Türkçe, net ve akademik bir dille cevap ver. Bilgi dokümanlarda yoksa uydurma."
        }
      },
      "id": "cddfdea0-d004-426f-8f08-152229cccf7c",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        272,
        1008
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "name": "company_documents_tool",
        "description": "Retrieve information from any company documents"
      },
      "id": "08707b3d-0cc8-4e49-8ef8-e500ac62a20b",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "position": [
        672,
        1232
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "mode": "list",
          "value": "mis-notes",
          "cachedResultName": "mis-notes"
        },
        "options": {}
      },
      "id": "b36c55e0-f5c9-42fb-9bca-f4b1005273cc",
      "name": "Pinecone Vector Store (Retrieval)",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        576,
        1408
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest",
        "baseUrl": "http://localhost:11434"
      },
      "id": "fa536268-a740-4bb8-898a-e03bb25a6ac9",
      "name": "Ollama Embeddings (Retrieval)",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "position": [
        560,
        1568
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {
          "fileName": "={{ $json.name }}"
        }
      },
      "id": "fed6370c-24fa-4669-8f01-44d015743fa2",
      "name": "Download File From Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        320,
        160
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "content": "## Chat with company documents"
      },
      "id": "619b656d-93e3-4b97-bc6e-fbacf95b0c59",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        272,
        832
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "mode": "id",
          "value": "1IC4LZrf9HrOxVc-EoOZmH9FaONz-015t"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "1457f087-301c-4e35-807b-8aca4f5943c9",
      "name": "Google Drive File Updated",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        -16,
        304
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "mode": "id",
          "value": "1IC4LZrf9HrOxVc-EoOZmH9FaONz-015t"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "id": "212f576f-1e82-41f5-b0d8-7335bc4e73f6",
      "name": "Google Drive File Created",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        -16,
        48
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "5fdb9ee4-4702-4844-9ae0-b09156934b0b",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        352,
        1312
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "cc59aad0-2ee6-4bc9-bbce-32383094cfbc",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        -80,
        1008
      ],
      "webhookId": "5f1c0c82-0ff9-40c7-9e2e-b1a96ffe24cd",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": "## Add docuemnts to vector store when updating or creating new documents in Google Drive",
        "width": 320
      },
      "id": "2eaf408c-18e7-43b6-93ce-ff767a72ac8f",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        288,
        -80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": "llama3.1:latest",
        "baseUrl": "http://localhost:11434",
        "options": {
          "temperature": 0.7
        }
      },
      "id": "caf766dc-6cb1-438d-bb86-82ddb6783425",
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "position": [
        176,
        1312
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": "llama3.1:latest",
        "baseUrl": "http://localhost:11434",
        "options": {
          "temperature": 0.7
        }
      },
      "id": "3cb7a9ee-5c67-4afb-94b9-e80c8960dcad",
      "name": "Ollama Chat Model (Retrieval)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "position": [
        928,
        1408
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive File Created": {
      "main": [
        [
          {
            "node": "Download File From Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive File Updated": {
      "main": [
        [
          {
            "node": "Download File From Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File From Google Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store (Retrieval)": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Embeddings (Retrieval)": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store (Retrieval)",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model (Retrieval)": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "meta": {
    "instanceId": "0ae2c0473c1d9d91f4cb8ecf97884ef8df775e07df950c24d03783d3d43bf18a"
  },
  "tags": []
}